@*Movie Page for users to enter more movies to the database*@

@{
    ViewData["Title"] = "Movies";
}

@model movieForm;

<h1>Add a Movie</h1>
<br />

@*Form that gathers input to then go to database*@
<form method="post" >

    <label asp-for="CategoryID">Category:</label>
    <select asp-for="CategoryID">
        <option value=""></option>
        @foreach (Category c in ViewBag.Categories)
            {
                <option value="@c.CategoryID">@c.CategoryName</option>
            }
    </select>
    <br />

    <label asp-for="title">Title:</label>
    <input id="title" type="text" asp-for="title" />
    <br />

    <label asp-for="year">Year (i.e. 1997):</label>
    <input id="year" type="text" asp-for="year" />
    <br />

    <label asp-for="director">Director:</label>
    <input id="director" type="text" asp-for="director" />
    <br />

    <label asp-for="rating">Rating:</label>
    <select asp-for="rating">
        <option value=""></option>
        <option value="G">G</option>
        <option value="PG">PG</option>
        <option value="PG-13">PG-13</option>
        <option value="R">R</option>
        <option value="UR">UR</option>
        <option value="NR">NR</option>
        <option value="TV-14">TV-14</option>
        <option value="TV-PG">TV-PG</option>
        <option value="TV-Y7">TV-Y7</option>
    </select>
    <br />

    <label asp-for="edited">Edited:</label>
    <select asp-for="edited">
        <option value="false">No</option>
        <option value="true">Yes</option>
    </select>
    <br />

    <label asp-for="lent">Lent To:</label>
    <input id="lent" type="text" asp-for="lent" />
    <br />

    <label asp-for="notes">Notes:</label>
    <textarea id="notes" asp-for="notes"></textarea>
    <br />

    <input id="submitMovie" type="submit" value="Submit Movie" />

    <!--Helps display errors to user-->
   <div asp-validation-summary="All"></div>

</form>