@*Joel's Favorite Podcast*@

@{
    ViewData["Title"] = "My Podcasts";
}

<br />
<h1>Podcasts</h1>

@*Allows user to click and open new page for the website*@
<p>Check out the <a href="https://baconsale.com/" target="_blank">Baconsale Site</a>!</p>
